.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #181818;
    color: rgb(57, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    cursor: pointer;
}